@{
    ViewBag.Title = "به نرم افزار روانشناسی تست شخصیت خوش آمدید";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1 dir="rtl">@ViewBag.Title.</h1>
                <h2 dir="rtl">@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}